
/* movie page */
.movie-banner{
    width: 90%;
    margin: 10px auto;
    min-height: 520px;
    padding: 60px 40px 40px 40px;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    justify-content: center;


    box-shadow:
    0px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    0px 12.5px 10px rgba(0, 0, 0, 0.035),
    0px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    0px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0px 100px 80px rgba(0, 0, 0, 0.07)
    ;
}
.movie-banner::after{
    content: ' ';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgb(8,8,8) 10%, rgba(0,0,0,0.2) 90%);
}
.banner-img{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
}
.banner-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.banner-container{
    z-index: 100;
    display: grid;
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; */
    width: 100%;
    position: relative;
}
.title-container{
    /* width: 100%;
    max-width: 500px; */
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
}
.movie-title h1{
    color: #fff;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 50px;
    letter-spacing: 1px;
}
.title-container .quality{
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 0px 5px;
    border-radius: 3px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.more-abt-movie{
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    flex-wrap: wrap;
    color: aliceblue;
    align-items: center;
}
.more-abt-movie .episode,
.more-abt-movie span{
    margin-right: 20px;
    letter-spacing: 1px;
    font-size: 0.8rem;
}
.summary{
    background-color: #dfdfdf0e;
    padding: 5px 10px;
    margin: 10px 10px 10px 0;
    color: #dfdfdf;
    font-size: 0.8rem;
}
.title-bottom{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
}
.title-bottom span{
    color: #dfdfdf;
    margin-right: 10px;
    font-size: 0.8rem;
}
.play-btn-container{
    grid-row-start: 2;
    grid-row-end: 2;
    display: flex;
    align-items: flex-end;
}
.watch-btn{
    width: 220px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background-color: #8e969c4b;
    border: 1px solid #ffffff2c;
    color: #dfdfdf;
    transition: all ease 0.2s;
    cursor: pointer;
}
.watch-btn:hover{
    transform: scale(1.05);
}


/* video screen */
#play{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(15, 15, 15, 0.7);
}
.play-movie{
    width: 89%;
    height: 90%;
}
.play-movie iframe{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    border-radius: 12px;
}
#play.open{
    display:  flex;
}
.category{
    margin-left: 9px;
}
.summary p{
    line-height: 18px;
}