*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
textarea { 
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}



::selection{
    background-color: var(--litePurple);
    color: black;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
}
body::-webkit-scrollbar{
    width: 0px;
}
/* ::-webkit-scrollbar-track{
    position: absolute;
    background: #ffffff;
    border-radius: 1px;
    
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: #DFDFDE;
    border-radius: 5px;
} */
:root{
    --primePurple : #4e50ff;
    --litePurple  : #9c9dd4;
}
/* hide progress scroll bar */
/* navbar */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    margin: auto;
    /* background-color: green; */
    width: 100%;
}
.navbar .menu-icon{
    cursor: pointer;
    /* float: right; */
    /* padding: 20px 10px; */
    z-index: 101;
    height: 25px;
    width: 25px;
    color: black;
}
/* menu */
.fix-icon .menu-icon{
    position: fixed;
    left: 30px;
    top: 30px;
    background-color: #9c9dd4;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}




.menu{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(80,82,255,0.9);
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
    animation: fade 0.3s;
}
.active{
    display: flex;
}
.menu li a{
    color: #ffffff;
    font-size: 2rem;
    font-weight: 900;
    margin: 0px 40px;
    transition: all ease 0.3s;

}
.menu li a:hover{
    font-size: 2.3rem;
    transition: all ease 0.3s;
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.logo{
    color: var(--litePurple);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 800;
    margin: 0px auto 0px 40px;
    display: flex;
    align-items: center;
    /* letter-spacing: 1px; */
}
/* search */
.search-box{
    background-color: var(--litePurple);
    padding: 3px 12px 3px 20px;
    border-radius: 12px;
    height: 40px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    box-shadow:
  0px 2.2px 3.8px rgba(0, 0, 0, 0.02),
  0px 5.4px 9.2px rgba(0, 0, 0, 0.028),
  0px 10.1px 17.3px rgba(0, 0, 0, 0.035),
  0px 18.1px 30.8px rgba(0, 0, 0, 0.042),
  0px 33.8px 57.7px rgba(0, 0, 0, 0.05),
  0px 81px 138px rgba(0, 0, 0, 0.07)
;
    transition: all ease 0.3s;
    /* width: 20%; */
}
.search-box input{
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    transition: all ease 0.3s;
    width: 200px;
}
.search-box input::placeholder{
    color: white;
}
.search-box input:focus{
    width: 300px;
    transition: all ease 0.3s;

}
.search-box .search-icon{
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 6px;
    border-radius: 12px;
    transition: all ease 0.3s;

}
.search-box .search-icon:hover{
    background-color: #ffffff;
    color: black;
    transition: all ease 0.3s;

}


.swiper.mySwiper{
    /* overflow: visible; */
    height: 467px;
    padding: 22px 43px 59px 43px;
    border-radius: 12px;
}
.swiper-slide{
    box-shadow:
    0px 2.9px 4.7px rgba(0, 0, 0, 0.02),
    0px 6.9px 11.4px rgba(0, 0, 0, 0.028),
    0px 13px 21.4px rgba(0, 0, 0, 0.035),
    0px 23.2px 38.2px rgba(0, 0, 0, 0.042),
    0px 43.4px 71.4px rgba(0, 0, 0, 0.05),
    0px 104px 171px rgba(0, 0, 0, 0.07)
    ;
}
/* .swiper-wrapper{
    overflow:visible;
    height: 500px;
}
.mySwiper{
    overflow: visible;
}
.swiper-slide{
    overflow: visible;
} */
/* slider */
#main-slider{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 0 auto;
    padding: 0 15px;
    width: 100%;
    position: relative;    
}
.main-slider-box{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #DFDFDE;
    
    border-radius: 12px;
    overflow: hidden;
    transition: all ease 0.3s;
    user-select: none;
    /* z-index: 1000; */
}
.main-slider-box:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.main-slider-box:hover .main-slider-overplay{
    display: flex;

}
.main-slider-img{
    width: 100%;
    height: 100%;
}
.main-slider-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.main-slider-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 25px;
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg, #161616b9 6%, rgba(73,73,73,0.23) 40%);
}
.main-slider-text .quality{
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 0px 5px;
    border-radius: 3px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.main-slider-text .movie-name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main-slider-text .movie-name span{
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: 700;
    color: #DFDFDE;
}
.main-slider-text .movie-name strong{
    font-size: 1rem;
    font-weight: 800;
    line-height: 20px;
    margin-top: 10px;
    color: #DFDFDE;
    letter-spacing: 0.5px;
}
.main-slider-text .lang-status{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
.main-slider-text .lang-status span{
    color: #DFDFDE;
    font-size: 0.8rem;
    font-weight: 500;
}
.main-slider-overplay{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: rgba(27, 27, 27, 0.3);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 120;
}
.main-slider-overplay .play-movie-icon{
    font-size: 3rem;
    color: #ffffff;
}
.swiper-button-next{
    /* position: static !important; */
    transform: translate(0,0);
    margin: 10px 0px 0px 20px !important;
    top: 40% !important;
    
}
.swiper-button-prev{
    transform: translate(0,0);
    margin: 10px 20px 0px 0px !important;
    top: 40% !important;
}
.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 40px !important;
    font-weight: 900;
    color: gray;
    opacity: 0.5;
}






/* recommend */
#movies-wrapper{
    width: 90%;
    margin: 0 auto 30px auto;
    /* padding-left: 43px; */
}
.title-heading{
    width: 100%;
    padding: 10px 20px;
    background-color: #DFDFDE;
    border-radius: 12px;
}
.title-heading span{
    font-weight: 100;
}
.post-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 35px;
    margin: 20px 0px;
}
.post-box{
    width: 100%;
    height: 300px;
    overflow: hidden;
    background-color: black;
    border-radius: 10px;
    position: relative;
    transition: all ease 0.3s;

    
}
.post-box:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.post-box:hover .main-slider-overplay{
    display: flex;
}
.post-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}



/* page number */
.page-number{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.page-number a{
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primePurple);
    margin: 0px 13px;
    opacity: 0.5;
    transition: all ease 0.1s;
}
.page-number a:hover{
    transform: scale(1.5);
}
.page-number .page-active{
    opacity: 1;
}

/* footer */
footer{
    background-color: #DFDFDE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 7%;
}footer .copyright{
    color: var(--primePurple);
    font-weight: 600;
    opacity: 0.6;
    font-size: 0.9rem;
}
footer .logo{
    margin: 0;
    font-size: 2rem;
}


/* scroll progress bar */
#progress{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: fixed;
    bottom: 50px;
    right: 25px;
    display: grid;
    place-items: center;
    z-index: 50;
    opacity: 0.7;
}
#progress-value{
    display: block;
    height: calc(100% - 10px);
    width: calc((100% - 10px));
    background-color: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 0px;
}



/* responsive */
@media(max-width:1200px){
    #main-slider,
    #movie-wrapper{
        /* width: 90%; */
    }
    .menu li a{
        margin: 0px;
        font-size: 1.6rem;
    }
    .menu{
        flex-direction: column;
    }
}
@media(max-width:1100px){
    .post-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media(max-width:768px){
    .navbar{
        padding: 10px 20px;
        width: 95%;
    }
    .logo,
    footer .logo{
        font-size: 1.3rem;
    }
    .post-container{
        grid-template-columns: 1fr 1fr;
    }
}
@media(max-width:480px){
    .navbar{
        display: grid;
        grid-template-columns: 60px 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .logo{
        margin: 0px;
    }
    .search-box{
        grid-column-start: 1;
        grid-column-end: 3;
        width: 100%;
    }
    .post-container{
        grid-gap: 15px;
    }
    .post-box{
        height: 250px;
    }
    .fix-icon .menu-icon{
        left: 14px;
        top: 14px;
    }
}



